<?xml version="1.0"?>
<robot name="railload_robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- xacro argument -->
    <xacro:arg name="use_nominal_extrinsics" default="true"/>

    <!-- xacro include -->
    <xacro:include filename="$(find railload_robot_description)/urdf/common_inertia.urdf.xacro" />
    <xacro:include filename="$(find railload_robot_description)/urdf/railload_robot_properties.urdf.xacro" />
    <xacro:include filename="$(find railload_robot_description)/urdf/robot/base.urdf.xacro" />
    <xacro:include filename="$(find railload_robot_description)/urdf/robot/wheel.urdf.xacro" />
    <xacro:include filename="$(find railload_robot_description)/urdf/robot/differential_drive.gazebo.xacro" />
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <!-- <xacro:include filename="$(find railload_robot_description)/urdf/sensors/d435.urdf.xacro" /> -->

    <!-- Robot Base -->
    <xacro:base mass="${base_mass}"/>

    <!-- Robot Wheels -->
    <xacro:wheel mass="${wheel_mass}"/>

    <!-- Differential Drive Controller (Plugin) -->
    <xacro:differential_drive_controller/>

    <!-- Lidars (Plugin) -->
    <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="true">
        <xacro:insert_block name="lidar_pose" />
    </xacro:VLP-16>

    <!-- IntelRealsense D435 (Plugin) -->
    <!-- <xacro:sensor_d435 parent="base_link" name="camera" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
        <xacro:insert_block name="camera_pose" />
    </xacro:sensor_d435> -->

</robot>